.olLayerGooglePoweredBy {
	visibility: hidden;
}

.olControlZoomPanel {
	left: 2px !important;
	top: 2px !important;
}

.olControlMousePosition {
	background-color: white;
	width: 115px;
	height: 17px;
	padding: 1px 5px 1px 5px;
	border: 2px solid;
}

.olControlScaleLine {
	top: 2px !important;
	left: 25px !important;
	color: white !important;
	strokeColor: white !important;
}

#depth-box {
	width: 50px !important;
	height: 17px !important;
	padding: 1px 5px 1px 5px;
	border: 2px solid !important;
	background: white;
	position: absolute !important;
	left: 217px;
	font-size: 10px !important;
	top: 0px;
	z-index: 10000;
}

#measure-button {
	position: absolute !important;
	left: 270px;
	font-size: 10px !important;
	top: 1px;
	z-index: 10000;
	width: 100px;
}

.measure-active {
	background-color: lawngreen;
	border-radius: 5px;
	width: 85px;
}

.olPopup {
	/* This is so mouse clicks will pass through the track labels */
	pointer-events: none !important;
}

.olPopupContent {
	padding: 0px !important;
	background-color: transparent !important;
	width: 150px !important;
	height: auto !important;
	font-size: 16px;
}

.liveStatusLabel {
	text-align: right;
	display: block;
}

.layerTreeBusy {
	background-image: url('../images/wait16.gif') !important;
	width: 16px;
	height: 16px;
}

.fixage {
	font-size: 10px;
}

.leaflet-container.crosshair-cursor-enabled {
	cursor: crosshair;
}

.platform-name-tooltip:before {
	visibility: hidden;
}

.platform-name-tooltip {
	margin: 0;
	border: 0;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
}

#platform-grid-tree-panel-toolbar-select-all-button-btnIconEl {
	margin-top: 2px;
	color: #01A2DF;
}
#platform-grid-tree-panel-toolbar-deselect-all-button-btnIconEl {
	margin-top: 2px;
	color: #01A2DF;
}

/*
#user-name-label {
	font-size: 11px;
}

#live-status-label {
	font-size: 11px;
}

#start-date-field-inputEl {
	font-size: 11px;
	margin-bottom: 0px;
}

#hours-number-field-inputEl {
	font-size: 11px;
	margin-bottom: 0px;
}

#time-slider-number-field-inputEl {
	font-size: 11px;
	margin-bottom: 0px;
}

.x-tree-checkbox {
    width: 13px !important;
    height: 13px !important;
}
*/